@import url('https://fonts.googleaplis.com/css?family=Poppins:400,500,700');
/* Image text Section */
    /* Two Column layout */
    .patio{
        height: 26em;
    }
    .two-column-text{
        width:50%;
    }

    .carousel-wrapper {
        background-color: #444;
      }
      .carousel-wrapper .carousel {
        margin: 0 auto;
        background-color: #666;
      }
      .carousel-wrapper .carousel .carousel-item {
        width: 100%;
        height: 300px;
      }
      .carousel-wrapper .carousel .carousel-item img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
      }


/* End of Image text Section */
/* Carouse */
/*
.carousel-wrapper {
    background-color: #444;
  }
  .carousel-wrapper .carousel {
    margin: 0 auto;
    background-color: #666;
  }
  .carousel-wrapper .carousel .carousel-item {
    width: 100%;
    height: 300px;
  }
  .carousel-wrapper .carousel .carousel-item img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  */
/* End of Carousel */

/*---Media Queries --*/
/*
@media (max-width: 992px) {

    .carousel-wrapper {
        background-color: #444;
        height: 26rem;
      }
      .carousel-wrapper .carousel {
        margin: 0 auto;
        background-color: #666;
      }
      .carousel-wrapper .carousel .carousel-item {
        width: 100%;
        height: 300px; 
      }
      .carousel-wrapper .carousel .carousel-item img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
      }
} 
@media (max-width: 768px) {

    .patio{
        height: 10em;
    }

    .carousel-wrapper {
        background-color: #444;
      }
      .carousel-wrapper .carousel {
        margin: 0 auto;
        background-color: #666;
      }
      .carousel-wrapper .carousel .carousel-item {
        width: 100%;
        height: 300px;
      }
      .carousel-wrapper .carousel .carousel-item img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
      }
}
@media (max-width: 576px) {

    .patio{
        height: 20em;
    }
    .carousel-wrapper {
        background-color: #444;
      }
      .carousel-wrapper .carousel {
        margin: 0 auto;
        background-color: #666;
      }
      .carousel-wrapper .carousel .carousel-item {
        width: 100%;
        height: 300px;
      }
      .carousel-wrapper .carousel .carousel-item img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
      }
} 
*/




/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}